body
{
  margin: 0em;
}

#MainBar
{
  vertical-align: center;
  margin:0em 0em 1em 0em;
}

#Navigation
{
  display:none;
  vertical-align: center;
}

#Navigation > span
{
  margin-left:2em;
  margin-right:2em;
}

#Navigation > span:hover
{
  text-decoration:underline;
}

#Name
{
  font-size:2em;
  font-weight:bold;
  margin-right:1em;
  margin-left:1em;
}

#MainContent > div
{
  margin-left: 2em;
  margin-right: 2em;
}

table
{
  border-width: 1px;
  border-style: solid;
}

table td, table th
{
  margin-left:1em;
  margin-right:1em;
  border-width: 1px;
  border-style: solid;
}

form table, form table td, form table th
{
  border-width: 0px;
  border-style: none;
}